@CHARSET "ISO-8859-1
body {
    margin: 0;
  background-color: lightblue;  
  }
.topnav {
    overflow: hidden;
    background-color: #696969;
  
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  li{
    text-align: center;
    color: #f2f2f2;
    display: block;
  }
  .topnav a {
    display: #696969;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  footer{
      text-align: center;
      margin-top: 50px;
  }";